@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Off-Black: hsl(0, 0%, 8%);
  --Smokey-Grey: hsl(0, 1%, 44%);
  --Light-Grey: hsl(0, 0%, 86%);
  --Light-Red: hsl(0, 100%, 67%);
  --Purple: hsl(259, 100%, 65%);
  --Black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--White);
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  width: min(90%, 50em);
  height: max(80vh, 20em);
  background-color: rgb(243, 243, 243);
  border-radius: 2em 2em 15em 2em;
  -webkit-border-radius: 2em 2em 15em 2em;
  -moz-border-radius: 2em 2em 15em 2em;
  -ms-border-radius: 2em 2em 15em 2em;
  -o-border-radius: 2em 2em 15em 2em;
}

.inputContainer {
  display: flex;
  width: 80%;
  margin-top: 2.5em;
  margin-left: 2em;
}

.display-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  font-size: 2rem;
  margin-top: 1em;
  @media (max-width: 600px) {
    font-size: 1.75rem;
  }
}
